<app-nav
(onChange)="getArtistsByNameSearch($event.value)"
></app-nav>

<div class="container artist-details">
    <div class="row">
      <div class="card card-artist mb-3" *ngIf="currentArtist">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ currentArtist.picture_big }}" class="img-fluid" alt="{{ currentArtist.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ currentArtist.name }}</h5>
              <p class="artist-details__number-of-fan">{{ currentArtist.nb_fan }} fans</p>
  
              <!-- <div *ngFor="let track in topFiveTracks" class="list-group-item">{{ track.title }}</div> -->
  
              <div *ngIf="topTracks" class="list-track">
                <div *ngFor="let track of topTracks" class="track-list"><span>{{ track.title }}</span> <span>{{ track.duration / 60 | number }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-card
    [list]=albums
    [cardCalledFor]="'artistInfo'"
    [Albums]="'Albums'"
    ></app-card>
</div>
